/* Fonts */
html * {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  overflow-x: hidden;
}

/* Scrollbar */
::-webkit-scrollbar {
width: 0.3vw;
}
::-webkit-scrollbar-thumb {
background: #BDBDBD;
border-radius: 0.15vw;
}
::-webkit-scrollbar-thumb:hover {
background: #6E6E6E;
}

#h1 {
  font-size: max(4vw, 40px);
  font-weight: bold;
}
#h2 {
  font-size: max(1.5vw, 20px);
  max-width: max(30vw, 60vh);
  text-align: center;
}
#h2, #h4 {
  font-weight: normal;
}
#h1, #h2, #h4 {
  z-index: 100 !important;
  padding: 3vh;
  margin: auto;
}
#h5 {
  font-size: 1px;
  width: 100%;
  text-align: center;
}

br {
  display: block;
  margin: 0px 0;
  line-height: 25px;
}
#main-container {
  /* position: absolute; */
  width: 100%;
  text-align: center;
} 
body {
  color: white;
  text-align: center;
}
#background {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(to right, #2c3263, #1b1b27 5%, #1b1b27 95%, #2c3263 100%);
}
.headings {
  text-shadow: rgb(190, 190, 190) 1px 0 max(1vw, 2vh);
  position: relative;
  font-size: max(3vw, 25px);
  font-weight: bold;
  margin: max(3vw, 6vh);
  padding: max(1vw, 2vh);
}
section {
  width: 100%;
  text-align: center;
}
#header {
  height: 20vh !important;
}
button {
  border-radius: max(4vw, 8vh);
  border: none;
  color: white;
}
button:hover {
  cursor: pointer;
}

#modal-blur {
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -200;
  backdrop-filter: blur(0.5vmax);
}

@media (pointer:none), (pointer:coarse) {
  #blob {
      visibility: hidden;
  }
  #blur{
      visibility: hidden;
  }
}

span {
  width: auto;
}

a {
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
  position: relative;
}

/* link animation */
a::after {
  content: '';
  transform: scaleX(0);
  transform-origin: right;
  width: 100% !important;
  height: 2px;
  left: 0;
  background: currentColor;
  transition: ease 0.5s;
  position: absolute;
  bottom: 0;
}
a:hover::after,
a:focus::after {
  transform: scaleX(1);
  transform-origin: left;
}
/* end link animation */